@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #009dff0e;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0000003e;
}
/* Scroll */


/* Blocknote viewer */
.bn-container[data-changing-font-demo] .bn-editor * {
  font-family: 'Golos Text', sans-serif;
}
.bn-container[data-changing-font-demo] .bn-editor {
  padding: 0;
}
.bn-container[data-changing-font-demo] .bn-default-styles {
  font-size: 19px;
}
.bn-container[data-changing-font-demo]
  .bn-editor
  .bn-image-and-caption-wrapper {
  margin: 15px 0px;
}
.bn-container[data-changing-font-demo]
  .bn-editor
  .bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type='heading'][data-level='3'] {
  font-size: 1.3em;
  font-weight: 600;
}
.bn-container[data-changing-font-demo]
  .bn-editor
  .bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type='heading'][data-level='2'] {
  font-size: 1.8em;
  font-weight: 600;
}
.bn-container[data-changing-font-demo]
  .bn-editor
  .bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type='heading'][data-level='1'] {
  font-size: 2.1em;
  font-weight: 700;
}
/* Blocknote viewer */
.cm-editor {
  height: auto !important;
}
.slash-menu {
  z-index: 9999;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  top: 8px;
}
@media screen and (max-width: 500px) {
  .bn-inline-content {
    font-size: 16px !important;
  }
}
.slash-menu-item {
  background-color: white;
  border-radius: 2px;

  cursor: pointer;

  align-items: center;
  display: flex;
  flex-direction: row;
}

.slash-menu-item:hover,
.slash-menu-item.selected {
  background-color: lightgray;
}
.code-toolbar {
  color: #eb5757;
  font-family: 'Roboto Mono' !important;
  border-radius: 3px;
  padding: 1px;
  font-weight: 500;
}
/* Article Card */

.card-info:hover .title {
  color: #0a85d1;
}

.card-header h5::after {
  content: '↗';
  opacity: 0;
  color: #0a85d1;
  transform: translateY(0px) translateX(0px);
  transition: transform 0.6s, opacity 0.3s;
}
.card-header:hover h5::after {
  opacity: 1;
  transform: translateY(-2px) translateX(2px);
}
.card-header:hover h5 {
  color: #0a85d1;
}

.card-header:hover .card-avatar {
  border: 2px solid #0a85d1 !important;
}

/* Article Card */

/* Slider */
.swiper-card {
  filter: contrast(100%) brightness(90%) saturate(180%);
}

.swiper-wrapper {
  margin-bottom: 30px;
}
.swiper-card::after {
  border-radius: 4px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(11, 11, 11, 0) 0%,
    rgba(2, 2, 2, 0.8) 45%,
    rgb(6, 6, 6) 100%
  ) !important; /* Градиент от прозрачного до черного с 70% прозрачности */
}
.swiper-card h3 {
  position: relative;
  top: 65%;
  z-index: 1;
}
.slider-banner .swiper-pagination-bullet {
  width: 15px;
  height: 6px;
  display: inline-block;
  background: #444444;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.slider-banner .swiper-pagination-bullet-active {
  background: #0a85d1;
  width: 45px;
  transition-delay: 0s;
}

.slider-card {
  width: 100%;
  position: relative;
  filter: contrast(100%) brightness(90%) saturate(180%);
}

.slider-card::after {
  border-radius: 4px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(11, 11, 11, 0) 0%,
    rgba(2, 2, 2, 0.8) 25%,
    rgb(6, 6, 6) 100%
  ) !important;
}

.slider-card h3 {
  position: relative;
  top: 60%;
  z-index: 1;
  color: white;
  line-height: 18px;
  padding: 10px;
}
/* Slider */

.intro {
  height: 100vh;
}

.loader-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #010c15;
}
.loader-content h1 {
  margin-top: 100px;
  font-size: 1.8rem;
  font-weight: 700;
}
.loader-box {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  color: white;
  filter: drop-shadow(6px 6px 200px #c88f57); /* --glow-color */
}

.loader-box .cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: cube 5s infinite ease;
}

.loader-box .cube div {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #78492d;
  background: #af8b67; /* --color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}

.loader-box .cube div:nth-child(1) {
  transform: translateZ(calc((200px / 2) * -1)) rotateY(180deg);
}

.loader-box .cube div:nth-child(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.loader-box .cube div:nth-child(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.loader-box .cube div:nth-child(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.loader-box .cube div:nth-child(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.loader-box .cube div:nth-child(6) {
  transform: translateZ(calc(200px / 2));
}

@keyframes cube {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.dots::after {
  content: '...';
  animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%,
  100% {
    content: '...';
  }
}


/* Стиль для скрытого состояния аккордеона */
.accordion-content {
  opacity: 0;
  max-height: 0; /* Блок будет скрыт */
  transition: opacity 0.3s ease-out, max-height 0.3s ease-out; /* Плавные переходы */
  overflow: hidden;
}

/* Стиль для видимого состояния аккордеона */
.accordion-content.show {
  opacity: 1;
  max-height: 500px; /* Устанавливаем максимальную высоту для видимого блока */
}
