@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9f9f9;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000003e;
}
.card,.title{
  transition: 0.2s ease-out;
  cursor: pointer;
}

.card:hover .title{
  color: #2C9D62;
}